<div class="container">
  <h1>This is a great home page!</h1>

  <p><%= link_to 'referrals list', referrals_path %></p>
  <p><%= link_to 'bookings list', bookings_path %></p>
  <p><%= link_to 'new referral', new_referral_path %></p>


</div>